[Unit]
Description= Blink LED
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/sel/1232/sinalizador.py
user=SEL

[Install]
WantedBy=multi-user.target

# Gabriel Aguilar Soares de Melo 11915432
# João Pedro Suzuki de Figueiredo 11800712
